
    <div class="full-container">
        <div class="container-confirmation">
            <div class="form-container">
                <h1 class="confirmation-heading">ORDER CONFIRMED SUCCESSFULLY</h1>
                <p class="create-acc-subhead">CONFIRMATION HAS BBEN SENT TO
                    YOUR EMAIL</p>
                <div class="Picture" id="iphone-pink">
                    <img width="100"
                        src="https://img-new.cgtrader.com/items/3573975/9f0cd028d2/apple-iphone-13-mini-pink-3d-model-low-poly-max-obj-fbx-c4d-ma-gltf.jpg"
                        alt="pink iphone 13 image" class="enlarged"/></div>
                </div>
            <div class="bi-envelope">
                <div class="Picture" id="bi-envelope">
                    <img width="100"
                        src="https://www.freeiconspng.com/thumbs/email-icon/email-icon--clipart-best-22.png"
                        alt="white-envelope" />
                        <p> FOR ENQUIRES ON YOUR ORDER:</p>
                        <P> EMAIL:</P>
                        <P> IRENEWBUSINESSGMAIL.COM</P>

                </div>
            </div>
            