<main class="container">
 
    <!-- product picture -->
    <div class="left-column">
      <img data-image="black" src="assets/images/iPHONE PINK.jpeg" alt="">
      <img data-image="blue" src="assets/images/iPHONE PINK.jpeg" alt="">
      <img data-image="red" class="active" src="assets/images/iPHONE PINK.jpeg" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
      
        <h1>iPhone12</h1>
        <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, eos quidem? Incidunt odio dignissimos aliquid. Vitae quae ratione ut consequatur beatae possimus error, voluptas inventore dolores hic saepe eaque laboriosam?</p>
       
        <div class="product-price"> <span>R22000.00</span></div>
      </div>
   
      <!-- Product Configuration -->
     
   
      <div class="product-price">
    
        <a href="#" class="cart-btn">More products</a>
        <a href="#" class="cart-btn">Add to cart</a>
       
      </div>
    </div>
  </main>