<main class="container">
 
    <!-- product picture -->
    <div class="left-column">
      <img data-image="red" class="active" src="{{product?.image_url}}" alt="{{product?.title}}">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
      
        <h1>{{product?.title}}</h1>
        <p>Description: {{product?.description}}</p>
        <p>Condition: {{product?.condition}}</p>
        <p>Specifications:</p>
        <ul>
        <li *ngFor="let item of items">{{ item }}</li>
        </ul>
       
        <div class="product-price"><p>Price: {{product?.currency}} {{product?.price?.toFixed(2)}}</p> </div>


      </div>
   
    
   
      <div class="product-price">
    
        <a href="#" class="cart-btn">Add to cart</a>
       
      </div>
    </div>
  </main>