h3 {
  text-align: center;
}

p {
  width: 50%;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input {
  padding: 2px;
  margin: 7px;
}
.icon {
  float: right;

  
}

.container {
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin: auto;
    border-radius: 3%;

  }

  h4 {
    text-align: center;
  }
  .container2 {
    margin-top: 10rem;
  }
