<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iRenew</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container2">
      <h3 class="John-doe">John Doe</h3>
      <div class="container">
        <p>ADDRESS</p>
        <div class="icon">
          <i class="bx bx-chevron-right"></i>
        </div>
        <p>WALLET</p>
        <p>EMAIL</p>
        <div class="mb-4">
          <input
            type="email"
            class="form-control border-success"
            id="exampleFormControlInput1"
            placeholder="ENTER EMAIL"
          />
        </div>
        <p>PHONE NUMBER</p>
        <div class="mb-4">
          <input
            type=""
            class="form-control border-success"
            id="exampleFormControlInput1"
            placeholder="+27"
          />
        </div>
        <br />
      </div>
      <h4>Delete your account</h4>
    </div>
  </body>
</html>
