<div class="container">
    <div class="address">
        <h3>Address Information</h3>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Street Number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Street Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Suburb">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="City or Province">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Postal Code">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Address</button>
            </div>
        </form>
    </div>

    <div class="billing">
        <h3>Billing Information</h3>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Account Holder First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Account Holder Last Name">
            </div>
            <div class="mb-3">
                 <select class="form-select" aria-label="Bank">
                    <option selected>Bank</option>
                    <option>ABSA </option>
                    <option>STANDARD BANK</option>
                    <option>FNB</option>
                    <option>CAPITEC</option>
                </select> 
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Card Number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="CCV">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Billing</button>
            </div>
        </form>
    </div>
</div>
