.shipping-address {
    border: 1px solid rgb(212, 207, 207);
    max-width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em;
    margin-left: 2em;
    padding: 10em;
    border-radius: 0.7em;
    margin: auto;
    margin-top: 10em;

}
h1 .shipping-heading {
    text-align: center;
    margin-top: -10em;

}