<!-- <div *ngFor="let item of items" class="items-container">
  
  <div class = "cart-item">

    <span> <img src={{item.imageUrl}} alt="iphone"></span>
    <span> {{ item.title }} </span>

    <span>Apple</span>

    <span>{{ item.price }}</span> 
</div>  -->
<!-- 
-->
<div class="container-card">

  <div class = "image-container">
    <img src="assets/images/iphone_14_pro_max_gold.webp" style="width: 20rem" alt="logo">
  </div>

  <div class="details-container">
      <span> iPhone 15 </span> <!--product title-->

      <span> Apple Phone</span>

      <span> R 9000</span> <!-- Product File -->
  </div>

  <div class="checkout-section">
     <span> Total: R</span> <!--total price-->

     <button> Checkout </button>
  </div>
</div>