<div class = "cart-container" *ngFor = "let product of products">

   <div class="items-container">

    
    <span> <img src="{{product.imageUrl}}" alt=""></span>
    <span class ="title">{{product.title}}</span>
    <span class = "price"> {{product.price  | currency}}</span>
    <span class = "condition"> {{product.condition}}</span>
    
    
   </div>

   
</div>

<div class="footer">
    <button>Checkout</button>

 <span class ="subtotal">Subtotal: </span>


    <!-- <h2>Your cart</h2>
    
    <ul>
        <li *ngFor = "let item of cartItems">
            <span> <img src="{{item.imageUrl}}" alt=""></span>
            <span class ="title">{{item.title}}</span>
            <span class = "price"> {{item.price  | currency}}</span>
            <span class = "condition"> {{item.condition}}</span>
        </li>

        <button>
            Checkout
        </button>
    </ul> -->
