.cart-container{
 display: flex;
 align-items: center;
 justify-content: space-around;   
}

span img {
    width: 4rem;
    position: relative;
    right: 13rem;
    top: 4rem;
}

.title, .price, .condition{
    display: flex;
    flex-direction: column;
}

.items-container{
   
    
}

button{
    color: white;
    background-color: black;
    width: 12rem;
    height: 2rem;

    position: relative;
    border-radius: 2rem;
    
    position: relative;
    top: 4rem;
    left: 75%;
}

.subtotal{
    position: relative;
    right: 3rem;
    top: 4rem;
}