.container-card{
    display: flex;
    position: relative;
    top: 6rem;
    flex-direction: column;
    background-color: grey;
    border-radius: 0.8rem;
    box-shadow: lightgray;
}

.image-container{
    position: relative;
    left: 6rem;
    top: 5rem;
}

.details-container span{
    position: relative;
    left: 50%;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    top: 10%;
    display: flex;
}

.checkout-section{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.checkout-section span{
    font-size: 1.8rem;
}
.checkout-section button{
    padding: 1.2rem;
    border-radius: 0.8rem;
}