<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/irenewlogo.png" alt="irenew logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/">iRenew</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  (click)="goToProds('iPhones')">Shop iPhones</a></li>
            <li><a class="dropdown-item"  (click)="goToProds('Macbooks')">Shop Macs</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" (click)="goToProds('Apple Watches')">Shop Apple watches</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex align-items-center myicons">
        <!-- <a *ngIf="isLoggedIn" routerLink="/profile" class="Profile me-3" > -->
          <a *ngIf="isAuthenticated" (click)="testFunc()"routerLink="/profile" class="Profile me-3" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
        </a>
        <a *ngIf="!isLoggedIn" routerLink="/cart" class="me-3">
          <button type="button" class="btn btn-primary position-relative" *ngIf="isAuthenticated" (click)="testFunc()">
            Cart
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              +
              <span></span>
            </span>
          </button>
        </a>
        <a *ngIf="isAuthenticated" routerLink="/logout" (click)="logOut()" class="LOGIN1 me-3">Logout</a>
        <a *ngIf="!isAuthenticated" routerLink="/login" class="LOGIN1 me-3">Login</a>
        <a *ngIf="!isAuthenticated" routerLink="/register" class="LOGIN1">Register</a>
      </div>
    </div>
  </div>
</nav>
