

.container {
    width: 50%;
    margin-top: 100px;
    
    
}

.name{
    padding-bottom: 10px;
    width: 25px;
}

.password{
    padding-bottom: 10px;

}

.email{
    padding-bottom: 10px;
}

#iphone-pink {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-left: 30rem;
    
}

.container-register {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content:center;

}
.full-container{
    display: inline flex; //creates a separation between 2 containers
    margin-top: 100px;
}
.form-container {
    margin-top: 120px;
    margin-left: 300px;
    
    
}
.sign-up-heading {
    font-size: 30px;
}
.create-acc-subhead {
    font-size: 10px;
    margin-top: 4px;
}
.form-register {
    margin-top: 50px;
}

#inputName, #inputEmail, #inputPassword{
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    border: 0.2px solid rgb(215, 210, 210);
    color: rgb(213, 210, 210);

}
.register-button{
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    margin: 45px;
}