<div class="full-container">
  <div class="container-register">
    <div class="form-container">
      <h1 class="sign-up-heading">SIGN UP</h1>
      <p class="create-acc-subhead">CREATE AN ACCOUNT TO GET STARTED</p>

      <form class="form-register" [formGroup]="Register" (ngSubmit)="register()">
        <div class="mb-3">
          <div class="name">
            <input
              type="text"
              class="form-control"
              id="inputName"
              formControlName="name"
              placeholder="Name"
            />
            <small *ngIf="Register.get('name')?.errors && Register.get('name')?.touched" class="comment">Required</small>
          </div>
        </div>
        <div class="mb-3">
          <div class="email">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="inputEmail"
              placeholder="Email"
            />
            <small *ngIf="Register.get('email')?.errors && Register.get('email')?.touched" class="comment">Email Invalid</small>
          </div>
        </div>
        <div class="mb-3">
          <div class="password">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="inputPassword"
              placeholder="Password"
            />
            <small *ngIf="!validatePassword(Register.get('password')?.value) && Register.get('password')?.touched" class="comment">
              Password must have a special character and be at least 8 characters long
            </small>
          </div>
        </div>
        <div class="mb-3">
          <div class="confirm-password">
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              id="inputConfirmPassword"
              placeholder="Confirm Password"
            />
            <small *ngIf="Register.hasError('passwordMismatch') && Register.get('confirmPassword')?.touched" class="comment">
              Passwords do not match
            </small>
          </div>
        </div>
        <button type="submit" class="btn btn-dark register-button" [disabled]="!Register.valid || !validatePassword(Register.get('password')?.value)">
          Register
        </button>
      </form>
    </div>
  </div>
  <div class="Picture" id="iphone-pink">
    <img
      width="800"
      src="https://img-new.cgtrader.com/items/3573975/9f0cd028d2/apple-iphone-13-mini-pink-3d-model-low-poly-max-obj-fbx-c4d-ma-gltf.jpg"
      alt="pink iphone 13 image"
    />
  </div>
</div>
