<!-- 

    <div class="full-container">
      <div class="container-register">
        <div class="form-container">
          <h1 class="sign-up-heading">SIGN UP</h1>
          <p class="create-acc-subhead">CREATE AN ACCOUNT TO GET STARTED</p>

          <form class="form-register" [formGroup]="Register" (ngSubmit)="register()">
            <div class="mb-3">
              <div class="name">
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  formControlName="name"
                  placeholder="Name"
                />
                <small *ngIf="Register.get('name')?.errors&&Register.get('name')?.touched" class="comment" >Required</small>
              </div>
            </div>
            <div class="mb-3">
              <div class="email">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                />
           
                <small *ngIf = "Register.get('email')?.errors&&Register.get('email')?.touched" class="comment">Email Invalid</small>
              </div>
            </div>
            <div class="mb-3">
              <div class="password">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="inputPassword"
                  placeholder="Password"
                />
                <small *ngIf = "!validatePassword(Register.get('password')?.value)&&Register.get('password')?.touched" class="comment">Password must have a special character and be atleast 8 characers long</small>
                
              </div>
            </div>
            <div class="mb-3">
              <div class="Remember">
                 <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="gridCheck1"
                  />
                  <label class="form-check-label" for="gridCheck1">
                    Remember me
                  </label>
                </div> 
              </div>
            </div>
            <button type="submit" class="btn btn-dark register-button "  [disabled]="!Register.valid||!validatePassword(Register.get('password')?.value)">
              Register
            </button>
          </form>
        </div>
      </div>
      <div class="Picture" id="iphone-pink">
        <img
          width="800"
          src="https://img-new.cgtrader.com/items/3573975/9f0cd028d2/apple-iphone-13-mini-pink-3d-model-low-poly-max-obj-fbx-c4d-ma-gltf.jpg"
          alt="pink iphone 13 image"
        />
      </div>
    </div>
   
 -->
 <div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>