
    <h1 class="welcome-heading">WELCOME TO OUR RENEWED STORE</h1>
    <p class="subheading">Get the best of pre-owned products</p>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="products-cards">
      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/iPHONE PINK.jpeg"
            class="card-img-top pink-iphone"
            alt="Pink iPhone 13"
            width="600"
          />
          <div class="card-body">
            <a  class="shop-link">
              <button type="button" class="btn btn-dark shop-button" (click)="getProducts('iPhones')">
                SHOP iPHONES
              </button>
            </a>
           
            <p class="card-text"></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/apple-watch-gold.png"
            class="card-img-top"
            alt="Gold strap apple watch"
          />
          <div class="card-body">
            <a  class="shop-link">
              <button  type="button" class="btn btn-dark shop-button" (click)="getProducts('Apple Watch')">
                SHOP WATCHES
              </button>
            </a>
            
            <p class="card-text"></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img
            src="assets/images/macboo-pro-16-inch.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <a  class="shop-link">
              <button type="button" class="btn btn-dark shop-button" (click)="getProducts('Macbooks')">
                SHOP MACS
              </button>
            </a>
           
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>


  
      
