#products-cards {
    position: absolute;
    top: 13em;
    left: 7em;
    right: 7em;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.shop-button {
    border-radius: 1.5em;
    display: block;
    margin: auto;
    padding: 1em;
}

.pink-iphone {
    width: 36em;
    height: 22.8em;
    margin-left: -6em;

}
.card {
    border: none;
}
.welcome-heading {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5rem;
    font-weight: 700;
    
}
.subheading {
    margin-left: 40em;
    align-items: center;
}

.shop-link {
    text-decoration: none;
}
